node_modules/
.next/
out/
.env
.env.local
.vercel/
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.zip
public/uploads/movies/*.mp4
public/uploads/movies/*.mkv
public/uploads/movies/*.webm
public/uploads/movies/*.avi
public/uploads/music/*.mp3
public/uploads/music/*.m4a
public/uploads/music/*.wav
upload/
*.mp4
*.mp3
*.m4a
*.mkv
*.webm
